
<header>

  <nav style="border-bottom: 1px solid grey;color:black">

    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="#">Find Jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Company Review</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Find Saleries</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">Find Resume</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Employers/Post jobs</a>
            </li>


             
            <li class="nav-item text-right">
                <a class="nav-link" href="#">Notification</a>
              </li>
              <li class="nav-item text-right">
                  <a class="nav-link" href="#">Messages</a>
                </li>
                <li class="nav-item text-right">
                    <a class="nav-link" href="#">priyadipti10gmail.com</a>
                  </li>
                 
      </ul>
      </nav>

<div class="row" style="border-bottom: 1px solid grey;">

  <div class="col-md-4" style="padding-left:50px">

  <h1>
     {{ title }}
  </h1>
  </div>
  


  <div class="col-md-8">

    <div class="row">
      <div class="col-md-2">
        <h5 >what</h5>
        <p style ="font-size:10px;">job title,keyword or company</p>

        </div>
        <div class="col-md-4">
            <h5>where</h5>
            <p style ="font-size:10px;">city or state</p>
    
            </div>
      </div>
<div class="row">
      <form>

           

            
          
          <input type="text" class=" mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Job portal">
          
           

            
          
            <input type="text" class="" id="inlineFormInputGroupUsername2" placeholder="">
          
          
        
         
        
           
          <button type="submit" class="btn btn-primary ml-2 mb-2">Find Jobs</button>
           
        </form>
        </div>
    

  </div>
  </div>
</header>

<main>


  <div class="row">
    <div class="col-md-3 sortby" style="border-right: 1px solid lighgrey; ">


      <h2 style="padding:30px;"> Location</h2>

      <div class="btn-group-vertical" style="margin-left:20px;">
      <button class="btn btn-default" (click)="getjoball()">All</button>
      
       <button class="btn btn-default"(click)="getjobpune()">Mumbai,Maharashtra</button>
       
       <button class="btn btn-default"(click)="getjobmumbai()"> Pune,Maharashtra</button>
       </div>
    </div>
    <div class="col-md-4 jobs" style="border: 1px solid lightgrey; height: 650px; overflow: scroll; ">


      <div  *ngFor="let job of jobsdata" class="joblist" style="border-bottom: 1px solid lightgrey;">

           
xs
          <p> <strong>{{job.title}} </strong><br>
              {{job.company}}  <br>
              {{job.location}}<br>
            {{job.salary}}<br>
          {{job.desc}}   </p>
      </div>


        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">Next <span>&raquo;</span></a></li>
            </ul>
          </nav>
      
    </div>
    <div class="col-md-3">
      
    </div>
  </div>
</main>



<footer>

</footer>

